<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>








<div class="container">

Ważne i ciekawe dodatki do bootstrapa:
1) Na githubie coliff/awesome-bootstrap-1   - dodatki takie jak kalendarze, tabelki, UI kits, biblioteki, templejki
2) Material Design - Google mdbootstrap.com
3) pusty project w twig
https://github.com/evpanin/learning

Twig:
https://www.baszczewski.pl/2013/10/twig-dobry-system-szablonow/

4) bootstrap + twig


ht




WEDŁUG VIDEO
https://www.youtube.com/watch?v=b_eU962en2k&list=PLCOe2mg1ZXrmd9FSDOBLaOVzrUapVjZ59



Twig 
0. dodajemy do VSC rozszerzenie Twig - aby mieć dostęp do snipetów itd.
1. Pobieramy bibliotekę TWIG i wrzucamy ją do naszego folderu.  lub użyj composer
2. robimy index.php i dodajemy:


<?php
require_once 'lib/Twig/Autoloader.php';
Twig_Autoloader::register();

$loader = new Twig_Loader_Filesystem('templates');
$twig = new Twig_Environment($loader);

echo $twig->render('index.html', array(
  ' name => USCSS Nostromo',
));

?>


3. Tworzymy folder templates i dodajemy index.html Do pliku wpisujemy:

{{ name }}

4. Możemy usunąć name, jest zbędne. 
5.Dodajemy bootstrapowy szablon:



<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


6. Dodajemy container z naszymi rzeczami. 

7.Dodatkowe dane, przywoływane są z pliku index.php 
https://www.youtube.com/watch?v=dsrwZ3Ll4Ng&list=PLCOe2mg1ZXrmd9FSDOBLaOVzrUapVjZ59&index=2 


echo $twig->render('index.html', array(
  ' name => USCSS Nostromo',
  'nazwa => następna rzecz',
  'trelelelel => no i następna'

DANE JAKO TABLICA
  'dupa => array(
    array('name' => 'Imię i nazwisko', 'stanowisko' => 'Zamiatacz ulic', 'status' => 'zatrudniony'),
    array('name' => 'Imię i nazwisko', 'stanowisko' => 'Zamiatacz ulic', 'status' => 'zatrudniony'),
    array('name' => 'Imię i nazwisko', 'stanowisko' => 'Zamiatacz ulic', 'status' => 'zatrudniony'),
    array('name' => 'Imię i nazwisko', 'stanowisko' => 'Zamiatacz ulic', 'status' => 'zatrudniony'),
      array('name' => 'Imię i nazwisko', 'stanowisko' => 'Zamiatacz ulic', 'status' => 'zatrudniony'),
      array('name' => 'Imię i nazwisko', 'stanowisko' => 'Zamiatacz ulic', 'status' => 'zatrudniony'),
      array('name' => 'Imię i nazwisko', 'stanowisko' => 'Zamiatacz ulic', 'status' => 'zatrudniony'),

  )'




  8. W celu wywołania, w pliku index.html, w container, gdzieś w divach dalejmy:
  {{name}} {{stanowisko}} {{status}}


    ORAZ:

    foreach($member as $member) {}

    {%    for  member in crew     %}
  {%  endfor   %}









<!--


<!DOCTYPE html>
<html>
    <head>
        <title>Baszczewski - Dobry programista freelancer</title>
    </head>
    <body>
        {# to jest komentarz #}

        Pracownik: {{ name }} {# tutaj w prosty sposób wstawiamy wartość zmiennej #}

        {% for task in tasks %}
            <li><a href="tasks/{{ task.id }}">{{ task.title }}</a></li>
        {% endfor %}
    </body>
</html>




-->

<!---

Rozważmy kilka przykładów.
 Nawiasy {{ nazwa_zmiennej|filtr_zmiennej~tutaj_metoda() }} umożliwiają 
 w ich obrębie umieszczanie wartości zmiennych bądź wywołania metod.


 

{# umieszczenie dwóch różnych zmiennych i oddzielenie ich spacją #}
{{ imie~' '~nazwisko }} 

{# użycie filtra zmieniającego ciąg znaków na małe litery; rezultat: "witaj" #}
{{ 'WITAJ'|lower }} 

{# zwrócenie ilości elementów w tablicy / znaków w tekście #}
{{ nazwisko|length }}

{# przykład użycia metody random -> przykładowy rezultat 6 #}
{{ random(10) }} 

{# inny przykład użycia metody random -> przykładowy rezultat "Gdańsk" #}
{{ random(['Gdańsk', 'Radom', 'Warszawa']) }}

{# filtr użyty na dłuższym fragmencie tekstu #}
{% filter upper %}
    ten tekst będzie pisany dużymi literami
{% endfilter %}








{# instrukcja sterująca if #}
{% if jakas_zmienna %}
    tak, zmienna jest zadeklarowa i posiada wartość różną od logicznego false
{% else %}
    nie zadeklarowano zmiennej bądź jej wartość jest równa false
{% endif %}

{# możesz również korzystać z dodatkowych operatorów podczas wyświetlania wartości #}
{{ zatrudniono ? 'zwolnij' : 'zatrudnij' }}

{# przykład łączący kilka technik #}
{% if pracownicy|length > 0 %}
    <ul>
        {% for pracownik in pracownicy %}
            <li>{{ pracownik.nazwisko }}</li>
        {% endfor %}
    </ul>
{% endif %}








DZIEDZICZENIE SZABLONÓW


{# plik szablonu, np. template.twig #}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Baszczewski - {% block title %}{% endblock %}</title>
            <link rel="stylesheet" href="style.css"/>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <footer>
            {% block footer %}
                Tworzenie stron internetowych: programista php, html, css, js. 
            {% endblock %}
        </footer>
    </body>
</html>

{# podstrona wykorzystująca szablon, np. index.twig #}
{% extends "template.twig" %}

{% block title %}Dobry programista freelancer{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        #content { color: #333; }
    </style>
{% endblock %}
{% block content %}
    <h1>Programista WWW</h1>
    <p>
        Tutaj treść podstrony.
    </p>
{% endblock %}









DODAWANIE DO SZABLONU


<?php

// załadowanie biblioteki
require_once '/katalog/do/lib/Twig/Autoloader.php';

Twig_Autoloader::register();

$loader = new Twig_Loader_Filesystem('/katalog/do/szablonow');
$twig = new Twig_Environment($loader, array(
    'cache' => '/katalog/z/buforem_cache',
));





RENDEROWANIE 

$template = $twig->loadTemplate('index.twig');
echo $template->render(array('imie' => 'Marcin', 'nazwisko' => 'Baszczewski', 'zawod' => 'programista'));






-->




















</div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>